<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section v-if="winner" class="container message block">
        <h2>GAME OVER - {{winner}}</h2>
        <button @click="startGame()">Start new game</button>
      </section>
      <section id="monster" class="container">
        <!-- <h2>Monster Health</h2> -->
        <img src="img/monster.png" alt="" />
        <div class="healthbar" monster>
          <div class="healthbar__value" :style="monsterBarStyle"></div>
        </div>
      </section>
      <section id="player" class="container">
        <!-- <h2>Your Health</h2> -->
        <img src="img/player.png" alt="" />
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyle"></div>
        </div>
      </section>
      <section id="controls" v-if="!winner">
        <button @click="attackMonster()">ATTACK</button>
        <button
          v-bind:disabled="mayUserSpeacialAttcak()"
          @click="specialAttactMonster()"
        >
          SPECIAL ATTACK
        </button>
        <button @click="healPlayer()" v-bind:disabled="maySurrender() ">
          HEAL
        </button>
        <button @click="surrender()" v-bind:disabled="maySurrender() ">
          SURRENDER
        </button>
      </section>
      <section id="log" class="container block">
        <h2>Battle Log</h2>
        <ul>
          <li
            v-for="action in logMessages"
            v-bind:class="{'log--player': action.actionBy === 'Player', 'log--monster': action.actionBy === 'Monster'}"
          >
            <img v-bind:src="action.actionImg" alt="" class="mini-img" />
            {{action.actionBy}} - {{action.actionType}} - {{action.actionValue}}
          </li>
        </ul>
      </section>
    </div>
    <a
      style="display: none"
      href="https://www.flaticon.com/free-icons/monster"
      title="monster icons"
      >Monster icons created by Smashicons - Flaticon</a
    >
    <a
      style="display: none"
      href="https://www.flaticon.com/free-icons/person"
      title="person icons"
      >Person icons created by Freepik - Flaticon</a
    >
  </body>
</html>
